* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(27, 27, 55);
    color: rgb(247, 164, 0);
    text-align: center;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: lighter;

}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    align-content: center;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    background-color: rgb(244, 229, 176);
    color: rgb(192, 16, 16);
    font-size: x-large;
    cursor: pointer;
    font-family: sans-serif;
}

#reset {
    background-color: rgb(244, 229, 176);
    color: rgb(192, 16, 16);
    font-family: sans-serif;
    padding: 5px;
    border-radius: 6px;
    border-style: none;
    cursor: pointer;
}

#msg{
    color: whitesmoke;
    font-family: system-ui;
}

.chappak{
    display: none;
}